<div [className]="classes.projects">
    <h2 [lyTyp]="'display2'">Projects</h2>

    <ly-grid container>
        <ly-grid item col='6'>
            <ly-grid container>
                <div *ngFor="let project of projects; let even=even">
                    <ly-grid item col='12' *ngIf='even'>
                        <ly-card [className]="classes.projectCard">
                            <ly-card-content>
                                <ly-grid container>
                                    <ly-grid item col="6">
                                        <h2 lyTyp="headline" gutterBottom [className]="classes.projectCardHeadline"
                                            (click)="openTab(project.link)">
                                            {{project.name}}
                                        </h2>
                                    </ly-grid>
                                    <ly-grid item col="6">
                                        <div [className]="classes.languageTitle">
                                            <ly-icon [className]="classes.languageTitleComponent">code</ly-icon>
                                            <span [className]="classes.languageTitleComponent"
                                                [lyTyp]="'title'">{{project.mainStack}}</span>
                                        </div>
                                    </ly-grid>
                                </ly-grid>
                                <p lyTyp="body1">
                                    {{truncate(project.description)}}
                                </p>
                            </ly-card-content>
                            <ly-card-actions disableActionSpacing>
                                <button ly-button appearance="icon" (click)="openTab(project.link)">
                                    <ly-icon>link</ly-icon>
                                </button>
                                <button ly-button appearance="icon" (click)="openTab(project.repoLink)">
                                    <ly-icon icon="github"></ly-icon>
                                </button>
                                <button ly-button appearance="icon" (click)="openTab(project.descriptionLink)">
                                    <ly-icon>description</ly-icon>
                                </button>
                            </ly-card-actions>
                        </ly-card>
                    </ly-grid>
                </div>
            </ly-grid>
        </ly-grid>
        <ly-grid item col='6'>
            <ly-grid container>
                <div *ngFor="let project of projects; let odd=odd">
                    <ly-grid item col='12' *ngIf='odd'>
                        <ly-card [className]="classes.projectCard">
                            <ly-card-content>
                                <ly-grid container>
                                    <ly-grid item col="6">
                                        <h2 lyTyp="headline" gutterBottom [className]="classes.projectCardHeadline"
                                            (click)="openTab(project.link)">
                                            {{project.name}}
                                        </h2>
                                    </ly-grid>
                                    <ly-grid item col="6">
                                        <div [className]="classes.languageTitle">
                                            <ly-icon [className]="classes.languageTitleComponent">code</ly-icon>
                                            <span [className]="classes.languageTitleComponent"
                                                [lyTyp]="'title'">{{project.mainStack}}</span>
                                        </div>
                                    </ly-grid>
                                </ly-grid>
                                <p lyTyp="body1">
                                    {{truncate(project.description)}}
                                </p>
                            </ly-card-content>
                            <ly-card-actions disableActionSpacing>
                                <button ly-button appearance="icon" (click)="openTab(project.link)">
                                    <ly-icon>link</ly-icon>
                                </button>
                                <button ly-button appearance="icon" (click)="openTab(project.repoLink)">
                                    <ly-icon icon="github"></ly-icon>
                                </button>
                                <button ly-button appearance="icon" (click)="openTab(project.descriptionLink)">
                                    <ly-icon>description</ly-icon>
                                </button>
                            </ly-card-actions>
                        </ly-card>
                    </ly-grid>
                </div>
            </ly-grid>
        </ly-grid>
    </ly-grid>
</div>