<div>
    <ly-grid container>
        <ly-grid item col="1 12@XSmall@Small@Medium">
        </ly-grid>
        <ly-grid container item col="10 12@XSmall@Small@Medium">
            <ly-grid item col="4 12@XSmall@Small">
                <app-profile>
                </app-profile>
            </ly-grid>
            <ly-grid item col="8 12@XSmall@Small">
                <app-projects>
                </app-projects>
            </ly-grid>
        </ly-grid>
        <ly-grid item col="1 12@XSmall@Small@Medium">
        </ly-grid>
    </ly-grid>
</div>